<h2>Edit location user</h2>

<%= render "form.html", changeset: @changeset,
                        action: location_user_path(@conn, :update, @location_user) %>

<%= link "Back", to: location_user_path(@conn, :index) %>
