<h1> Listing Containers <h1>

<table class="table">
  <%= for container <- @containers do %>
    <tr>
      <td>(<%= @container.id %>) - <%= @container.email %></td>
      <td><%= link "View", to: container_path(@conn, :show, container.id) %></td>
    </tr>
  <% end %>
</table>
